<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.five.spaudyal.a5tologyou_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.five.spaudyal.a5tologyou_app.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.five.spaudyal.a5tologyou_app.SignupActivity" android:theme="@style/AppTheme.Dark" />
    </application>

</manifest>